footer {
    width: 100%;
    max-width: 1240px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 70px auto 0px;
    padding: 30px 0;
    background-color: #fff;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        @include navigation;

        li {
            margin: auto;
            display: inline-block;
            margin: auto 30px;
        }
    }

    .wrapper {
        width: 15%;
        display: inline-flex;
        justify-content: space-evenly;
    }
}