

.post {
    display: grid;
    width: 100%;
    grid-template-rows: 33px 64px auto 65px auto 64px 160px auto;

    @include responsive(phone) {
        grid-template-rows: 33px 94px auto 65px auto 64px 160px auto;
    }

    &-tags {
        display: flex;
        justify-content: flex-start;
        grid-row: 1/2;
    }

    &-title {
        @include post-title;
        grid-row: 2/3;

    }

    &-description {
        @include post-text;
        line-height: 35px;
        align-self: center;
    }

    &-label {
        @include post-subtitle;
        align-self: flex-end;
    }

    &-ingredients {
        @include ingredients;
        grid-row: 5/6;
    }
    
    ul {
        padding: 0;
        padding-left: 48px;
        margin-left: 21px;
        border-left: 2px solid $lightbrown-shade;
    }

    &-footer {
        @include date-text;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .wrapper {
            display: flex;
            width: 300px;
            justify-content: flex-start;
            margin-top: 20px;
        }
    }
}

.social-icon {
    width: fit-content;
    cursor: pointer;
    margin: 0px 20px 0px 0px;

    .fa-heart:hover {
        color:#e23b3b;
    }


    :hover {
        color: $secondary-color;
    }

}



.red {
    color:#e23b3b; 
}

.fab-text {
    @include bottom-navigation;
    margin-left: 12px;
    font-size: 12px;
    font-weight: $font-bold;

}