$card-lg-height: 874px;
$card-lg-width: 633px;
$card-md-height: 732px;
$card-md-width: 460px;
$card-sm-height: 627px;
$card-sm-width: 286px;


.card {
    width: 100%;
    display: grid;
    justify-content: center;
    margin: 0 30px;
    margin-bottom: 56px;

    &-title {
        @include title-text;
        margin: 0 auto;
        text-align: center;
        overflow: hidden;
    }

    &-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &-body {
        @include description-text-big-box;
        text-align: center;
        overflow: hidden;
        height: 96px;
        line-height: 33px;
    }

    &-footer {
        @include date-text;
        margin: 0 auto;
        text-align: center;
    }

}


.card-lg {
    height: $card-lg-height;
    max-width: $card-lg-width;

    .card-title {
        width: 100%;
    }

    .card-image {
        height: 633px;
    }
}

.card-md {
    height: $card-md-height;
    width: $card-md-width;

    .card-title {
        width: 70%;
    }

    .card-image {
        height: 460px;
    }


}

.card-sm {
    height: $card-sm-height;
    width: $card-sm-width;
    grid-template-rows: 102px 286px 221px 18px;

    .card-title {
        width: 100%;
    }

    .card-image {
        height: 286px;
    }

    .card-body {
        height: 165px;
        align-self: start;
        margin-top: 34px;
    }
}

.card-responsive {

    @include responsive(tablet) {
        height: $card-sm-height;
        width: $card-sm-width;
        grid-template-rows: 102px 286px 221px 18px;
        margin-bottom: 56px;

        .card-image {
            height: $card-sm-width;
        } 
        
        .card-body {
            height: 165px;
            align-self: start;
            margin-top: 34px;
        }
    }

    @include responsive(phone) {
        height: $card-sm-height;
        width: 100%;

        .card-image {
            height: $card-sm-width;
        } 
    }
    
}