@use '../textstyle';

.card {
    width: 100%;
    display: grid;
    justify-content: center;
    margin: 0 30px;

    &-title {
        @include title-text;
        margin: 0 auto;
        text-align: center;
    }

    &-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &-body {
        @include description-text-big-box;
        text-align: center;
        overflow: hidden;
        height: 96px;
        line-height: 33px;
    }

    &-footer {
        @include date-text;
        margin: 0 auto;
        text-align: center;
    }

}


.card-lg {
    height: 874px;
    max-width: 633px;

    .card-title {
        width: 100%;
    }

    .card-image {
        height: 633px;
    }
}

.card-md {
    height: 732px;
    width: 460px;

    .card-title {
        width: 70%;
    }

    .card-image {
        height: 460px;
    }
}

.card-sm {
    height: 627px;
    width: 286px;

    .card-title {
        width: 100%;
    }

    .card-image {
        height: 286px;
    }

    .card-body {
        height: 165px;
    }
}