section {
  width: 100%;
  margin: 0px auto;
}

.container {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: 0px auto;
}

a {
  text-decoration: none;
}

@use './config';
#nav {
  position: sticky;
  top: 0;
  padding: 48px 0px;
  background-color: #fff;
  opacity: 0.95;
}

@media only screen and (max-width: 691px) {
  #nav {
    padding: 20px 0;
  }
}

nav {
  width: 100%;
  max-width: 1240px;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  transition: 1s ease-in-out;
}

nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  color: #a78f79;
  line-height: 20px;
}

nav ul li {
  display: inline-block;
  margin: auto 30px;
}

nav ul li:nth-child(n+2):nth-child(-n+3) {
  order: -1;
}

@media only screen and (max-width: 691px) {
  nav {
    justify-content: space-between;
    align-items: center;
    width: 80%;
  }
  nav ul li {
    width: 100%;
    margin: 10px;
    font-size: 20px;
  }
  nav ul li:nth-child(n+2):nth-child(-n+5) {
    order: 1;
    display: none;
  }
}

.nav-burger {
  display: none;
  z-index: 100;
}

@media only screen and (max-width: 691px) {
  .nav-burger {
    position: fixed;
    right: 10%;
    top: 5%;
    display: block;
    transition: display 1s ease-in-out;
  }
}

.nav-links {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: #b7a698;
}

.collapse {
  height: 0px;
  overflow: hidden;
}

.show {
  height: auto;
  transition: height .35s ease;
}

footer {
  width: 100%;
  max-width: 1240px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 70px auto 0px;
  padding: 30px 0;
  background-color: #fff;
}

footer .container {
  width: 80%;
  justify-content: space-between;
}

@media only screen and (max-width: 691px) {
  footer .container {
    justify-content: center;
    width: 200px;
  }
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  color: #a78f79;
  line-height: 20px;
}

footer ul li {
  margin: auto;
  display: inline-block;
  margin: auto 30px;
}

footer .wrapper {
  width: 200px;
  display: inline-flex;
  justify-content: space-evenly;
}

@media only screen and (max-width: 691px) {
  footer .wrapper {
    margin-top: 20px;
  }
}

.post {
  display: grid;
  width: 100%;
  grid-template-rows: 33px 64px auto 65px auto 64px 160px auto;
}

@media only screen and (max-width: 691px) {
  .post {
    grid-template-rows: 33px 94px auto 65px auto 64px 160px auto;
  }
}

.post-tags {
  display: flex;
  justify-content: flex-start;
  grid-row: 1/2;
}

.post-title {
  font-family: "PT Serif";
  font-weight: 700;
  font-size: 26px;
  color: #3b3d40;
  grid-row: 2/3;
}

.post-description {
  font-family: "Source Serif Pro";
  font-weight: 400;
  font-size: 20px;
  color: #7d7d7d;
  line-height: 35px;
  align-self: center;
}

.post-label {
  font-family: "PT Serif";
  font-weight: 700;
  font-size: 20px;
  color: #3b3d40;
  align-self: flex-end;
}

.post-ingredients {
  font-family: "Source Serif Pro";
  font-weight: 400;
  font-size: 20px;
  color: #7d7d7d;
  line-height: 50px;
  grid-row: 5/6;
}

.post ul {
  padding: 0;
  padding-left: 48px;
  margin-left: 21px;
  border-left: 2px solid #b7a698;
}

.post-footer {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  color: #a78f79;
  color: #b7a698;
  line-height: 18px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.post-footer .wrapper {
  display: flex;
  width: 300px;
  justify-content: flex-start;
  margin-top: 20px;
}

.social-icon {
  width: fit-content;
  cursor: pointer;
  margin: 0px 20px 0px 0px;
}

.social-icon .fa-heart:hover {
  color: #e23b3b;
}

.social-icon :hover {
  color: #7d7d7d;
}

.red {
  color: #e23b3b;
}

.fab-text {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  color: #a78f79;
  margin-left: 12px;
  font-size: 12px;
  font-weight: 700;
}

.card {
  width: 100%;
  display: grid;
  justify-content: center;
  margin: 0 30px;
  margin-bottom: 56px;
}

.card-title {
  font-family: "PT Serif";
  font-weight: 700;
  font-size: 24px;
  color: #3b3d40;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-body {
  font-family: "Source Serif Pro";
  font-size: 18px;
  font-weight: 400;
  color: #7d7d7d;
  line-height: 32px;
  text-align: center;
  overflow: hidden;
  height: 96px;
  line-height: 33px;
}

.card-footer {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  color: #a78f79;
  color: #b7a698;
  line-height: 18px;
  margin: 0 auto;
  text-align: center;
}

.card-lg {
  height: 874px;
  max-width: 633px;
}

.card-lg .card-title {
  width: 100%;
}

.card-lg .card-image {
  height: 633px;
}

.card-md {
  height: 732px;
  width: 460px;
}

.card-md .card-title {
  width: 70%;
}

.card-md .card-image {
  height: 460px;
}

.card-sm {
  height: 627px;
  width: 286px;
  grid-template-rows: 102px 286px 221px 18px;
}

.card-sm .card-title {
  width: 100%;
}

.card-sm .card-image {
  height: 286px;
}

.card-sm .card-body {
  height: 165px;
  align-self: start;
  margin-top: 34px;
}

@media only screen and (max-width: 1039px) {
  .card-responsive {
    height: 627px;
    width: 286px;
    grid-template-rows: 102px 286px 221px 18px;
    margin-bottom: 56px;
  }
  .card-responsive .card-image {
    height: 286px;
  }
  .card-responsive .card-body {
    height: 165px;
    align-self: start;
    margin-top: 34px;
  }
}

@media only screen and (max-width: 691px) {
  .card-responsive {
    height: 627px;
    width: 100%;
  }
  .card-responsive .card-image {
    height: 286px;
  }
}

@use '../textstyle';
.tag {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  color: #a78f79;
  line-height: 20px;
  width: fit-content;
  height: 17px;
  border: 1px solid #b7a698;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 700;
  font-size: 9px;
  letter-spacing: 0.5px;
  text-align: center;
  padding: 0px 9px;
  margin-right: 8px;
}

@use '../textstyle';
@use '../config';
.ingredient-item {
  font-family: "Source Serif Pro";
  font-weight: 400;
  font-size: 20px;
  color: #7d7d7d;
  line-height: 50px;
}

@media only screen and (max-width: 691px) {
  .ingredient-item {
    font-size: 18px;
    line-height: 40px;
  }
}

@use '../textstyle';
.button {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  color: #a78f79;
  width: fit-content;
  border-radius: 40px;
  padding: 19px 54px;
  text-transform: uppercase;
  font-weight: 700;
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff;
  line-height: normal;
  margin: 0 auto;
}

#home {
  background: no-repeat center/cover url("https://storage.googleapis.com/recipes-9ru4lzic/51819525c1305fbde4de67748491ddde2e06c354.jpg");
  background-blend-mode: soft-light;
  background-color: #a78f79;
  position: absolute;
  top: 0;
}

#home .container {
  width: 100%;
  height: 100%;
}

#home img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.1;
}

#home .overlay {
  background-color: rgba(183, 166, 152, 0.7);
  display: flex;
  flex-direction: column;
  font-family: "Source Serif Pro";
  font-size: 105px;
  top: 0;
  text-align: center;
  line-height: 140px;
  color: #fff;
  width: 100vw;
  height: 100vh;
  justify-content: center;
}

@media (max-width: 987px) {
  #home .overlay {
    font-size: 400%;
    line-height: 110%;
  }
}

#post .container {
  width: 100%;
  max-width: 1400px;
  margin: 0px auto;
  justify-content: center;
}

#post .post-image {
  width: 100%;
  height: 633px;
  object-fit: cover;
  margin: 0px 0px 40px;
}

#post .post {
  width: 100%;
  max-width: 633px;
}

@media only screen and (max-width: 691px) {
  #post .post-image {
    height: 311px;
  }
  #post .post {
    width: 90%;
  }
}

#about .container {
  width: 70%;
  display: grid;
}

#about .container .post-title {
  width: 100%;
  grid-row: 1/2;
}

#recipes .card-sm {
  flex-basis: 1 1 286px;
}
/*# sourceMappingURL=App.css.map */