$light-shade: #e2d1c1; //1
$brown-shade: #a78f79; //2
$lightbrown-shade: #b7a698; //3
$primary-color: #3b3d40; //4
$secondary-color: #7d7d7d; //5
$grey-shade: #a3a3a3; //6
$orange-shade: #ffd3ab; //7

$font-body-sans: "Montserrat";
$font-body-serif: "Source Serif Pro";
$font-title-serif: "PT Serif";

$font-regular: 400;
$font-medium: 500;
$font-bold: 700;

section {
    width: 100%;
    margin: 0px auto;
}

.container {
    max-width: 1400px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 0px auto;
}

a {
    text-decoration: none;
}